.container {
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 30px;
  border-bottom: 1px dotted black; 
  gap: 5px;
}

.money {
  color: darkgreen;
  font-weight: 700;
}